<div class="container acrylic shadow">
    @if (activeOrder.length === 0) {
    <h3 class="text-center">There are no active orders for you!</h3>
    }
    @else {
    <h3 class="mb-5 text-center">{{activeOrder.length}} active order/s!</h3>
    }
    <div class="row justify-content-center">
        @for (item of activeOrder; track item.orderId; let i = $index) {

        <div class="col-md-6 col-sm-12 mb-4">
            <h6>{{i+1}}. Order number #{{item.orderId}}</h6>
            <div style="margin-left: 2%;">
                <h6>- Order date {{item.orderDate | date: 'medium'}}</h6>
                <h6>- Table number {{item.tableId}}</h6>
                <h6>- Employee name: "{{item.employeeName}}"</h6>
                <h6>- Status: {{item.status}}</h6>
                <hr>
                <h6>Products:</h6>
                <div>
                    @for (product of item.products; track $index) {
                    <h6 style="margin-left: 1%;">{{i+1}}.{{$index+1}} {{product.productName}}</h6>
                    <div style="margin-left: 5%;">
                        <h6> - Quantity: {{product.quantity}}</h6>
                        <h6> - Unit price: {{product.unitPrice}} $</h6>
                        <h6> - Total: {{(product.unitPrice * product.quantity)| number:'1.2-2'}} $</h6>
                    </div>
                    }
                    <button class="col-12 btn btn-primary mt-3" >Delivered</button>
                    <button class="col-12 btn btn-warning mt-3" >Modify</button>
                    <button class="col-12 btn btn-danger mt-3" >Cancel</button>
                </div>
            </div>
        </div>
        <hr>
        }
    </div>

</div>