<!-- <footer class="bottom">
    <div class="mt-2 text-center">
        <h6>Copyright &copy; {{currentYear}} Corneliu's Project</h6>
    </div>
</footer> -->

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1  ">
    <p class="col-md-4 mb-0 text-body-white">&copy; 2024 CorneliusDev</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="../../assets/images/sdbar-high-resolution-logo-black-transparent.png" style="width: 20%" alt="Logo" />
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-white">Instagram</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-white">Facebook</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-white">Whatsapp</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-white">Twitter</a></li>
    </ul>
</footer>
