<div class="container acrylic shadow">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h3 class="text-center">Account details</h3>
            <div style="font-weight: bold">
                <div class="container acrylic shadow mb-3">First name: {{ userDetails.firstName }}</div>
                <div class="container acrylic shadow mb-3">Last name: {{ userDetails.lastName }}</div>
                <div class="container acrylic shadow mb-3">Email: {{ userDetails.email }}</div>
                <div class="container acrylic shadow mb-3">Phone number: {{ userDetails.phoneNumber }}</div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3 class="text-center">Change password</h3>
            <div class="container acrylic shadow">
                <div class="col-lg-10 col-sm-12 mx-auto mt-2 mb-2">
                    <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                        <div class="form-floating mb-3">
                            <input
                                class="form-control"
                                type="{{ showPassword1 ? 'text' : 'password' }}"
                                formControlName="currentPassword"
                                placeholder="Current password"
                                id="currentPassword"
                            />
                            <label for="currentPassword">Current password</label>
                            @if (showPassword1 == true) {
                            <span (click)="togglePasswordVisible(1)" style="cursor: pointer">
                                <fa-icon [icon]="faEye" class="input-icon"></fa-icon>
                            </span>
                            } @else {
                            <span (click)="togglePasswordVisible(1)" style="cursor: pointer">
                                <fa-icon [icon]="faEyeClosed" class="input-icon"></fa-icon>
                            </span>
                            } @if (submitted && changePasswordForm.get('currentPassword')?.hasError('required')) {
                            <span class="text-danger">Password is required</span>
                            }
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                class="form-control"
                                type="{{ showPassword2 ? 'text' : 'password' }}"
                                formControlName="password"
                                placeholder="New Password"
                                id="password"
                            />
                            <label for="password">New Password</label>
                            @if (showPassword2 ==true) {
                            <span (click)="togglePasswordVisible(2)" style="cursor: pointer">
                                <fa-icon [icon]="faEye" class="input-icon"></fa-icon>
                            </span>
                            } @else {
                            <span (click)="togglePasswordVisible(2)" style="cursor: pointer">
                                <fa-icon [icon]="faEyeClosed" class="input-icon"></fa-icon>
                            </span>
                            } @if (submitted && changePasswordForm.get('currentPassword')?.hasError('required')) {
                            <span class="text-danger">New Password is required</span>
                            } @if (submitted && changePasswordForm.get('password')?.hasError('pattern')) {
                            <span class="text-danger">Password must contain min 8 char, 1 uppercase, 1 lowercase, 1 special char, 1 number</span>
                            }
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                class="form-control"
                                type="{{ showPassword3 ? 'text' : 'password' }}"
                                formControlName="repassword"
                                placeholder="Repeat password"
                                id="repassword"
                            />
                            <label for="repassword">Repeat password</label>
                            @if (showPassword3 == true) {
                            <span (click)="togglePasswordVisible(3)" style="cursor: pointer">
                                <fa-icon [icon]="faEye" class="input-icon"></fa-icon>
                            </span>
                            } @else {
                            <span (click)="togglePasswordVisible(3)" style="cursor: pointer">
                                <fa-icon [icon]="faEyeClosed" class="input-icon"></fa-icon>
                            </span>
                            } @if (submitted && changePasswordForm.get('repassword')?.hasError('required')) {
                            <span class="text-danger">Repeat password is required</span>
                            }
                            <span
                            class="text-danger"
                            *ngIf="submitted &&
                            changePasswordForm.errors?.['passwordMatchError']"
                        >
                            Password doesn't match!
                        </span>
                        </div>

                        <button type="submit" class="col-12 btn btn-dark btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
