<div class="modal-header bg-dark">
    <h5 class="modal-title pull-center" style="color: white">Complete the form please!</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formGroup" (submit)="addNewBalanceCategory()">
        <div class="form-floating mb-3">
            <input
                class="form-control"
                type="text"
                formControlName="removeCategoryName"
                id="removeCategoryName"
                placeholder="Category name"
                [class.is-invalid1]="isSubmitted && formGroup.get('removeCategoryName')?.errors"
            />
            <label for="removeCategoryName">Category name</label>
            <span class="text-danger" *ngIf="isSubmitted && formGroup.get('removeCategoryName')?.hasError('required')">
                Category name is required
            </span>
            @if (isSubmitted && formGroup.get('removeCategoryName')?.hasError('minlength') || isSubmitted && formGroup.get('removeCategoryName')?.hasError('maxlength')) {
                <span class="text-danger">Name must be at least 3 char and max 50</span>
            }
        </div>
        <button type="submit" class="btn btn-dark btn-lg col-12">Add balance category!</button>
    </form>
</div>
