<!-- <div class="backgroundImage" style="padding: 0%;">
  <app-navbar></app-navbar>
  <div class="container mt-5" style="min-height: 800px;">
    <router-outlet></router-outlet>
  </div>
  
  <app-footer></app-footer>
</div> -->


<div class="app-container backgroundImage">
  <app-navbar></app-navbar>
  <div class=" content">
    <router-outlet></router-outlet>
  </div>
  @if (accountService.getJWT() == null || accountService.getUserRole() == roles.Client1) {
    <app-footer></app-footer>
  }
</div>