<div class="row mb-3">
    <div class="col-6">
        <h3 class=" acrylic shadow">Total orders: {{ orderStatistics.ordersCounter }} orders</h3>

    </div>
    <div class="col-6">
        <h3 class="acrylic shadow">Total earnings: {{ orderStatistics.orderTotal | currency }}</h3>
    </div>
</div>

<div class="container">
    <h2 class="text-center">Orders statistics</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center acrylic shadow" style="width: 70vw">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <h2 class="text-center mt-5">Employees orders</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center acrylic shadow" style="width: 70vw">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <h2 class="text-center mt-5">Table orders</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 d-flex justify-content-center acrylic shadow" style="width: 70vw">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
</div>
