<div class="container">
    <h1 class="text-center mb-3">Add products quantities in stock</h1>
    <div class="col-lg-6 col-sm-12 acrylic shadow mx-auto mt-3">
        <form [formGroup]="formGroup" (submit)="addQuantity()">
            <div formArrayName="productsToAdd">
                <div *ngFor="let componentProduct of productsToAdd.controls; let i = index" [formGroupName]="i" class="component-product">
                    <span>Product nr. {{ i + 1 }}.</span>
                    <div class="form-floating mb-3 mt-1">
                        <select
                            formControlName="productId"
                            id="productId{{ i }}"
                            class="form-select"
                            [class.is-invalid1]="isSubmitted && componentProduct.get('productId')?.errors"
                        >
                            @for (item of allProducts; track item) {
                            <option [value]="item.id">{{ item.name }}</option>
                            }
                        </select>
                        <label for="productId{{ i }}">Select the product </label>
                        <span class="text-danger" *ngIf="isSubmitted && componentProduct.get('productId')?.hasError('required')">
                            Select a category please
                        </span>
                    </div>
                    <div class="form-floating mb-3">
                        <input
                            formControlName="added_quantity"
                            type="number"
                            placeholder="Added quantity"
                            class="form-control"
                            id="added_quantity{{ i }}"
                        />
                        <label for="added_quantity{{ i }}">Added quantity</label>
                        <span class="text-danger" *ngIf="isSubmitted && componentProduct.get('added_quantity')?.hasError('required')">
                            Quantity is required
                        </span>
                        <span class="text-danger" *ngIf="isSubmitted && componentProduct.get('added_quantity')?.hasError('min')">
                            Minimum value is 1
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <button type="button" class="col-12 btn btn-outline-primary btn-lg mb-3 p-1" (click)="addNewProduct()">
                                Add new product
                            </button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            <button type="button" class="col-12 btn btn-outline-danger btn-lg mb-3 p-1" (click)="removeNewProduct(i)">
                                Remove product
                            </button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="col-12 mt-3 btn btn-dark btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
