@if (sharedService.posStatus == true) {
<div class="container acrylic shadow">
    <div class="row col-12">
        <div class="col-12">
            <h3>Product list</h3>
        </div>
    </div>
    <div class="row mt-3">
        <hr />
    </div>
    <div class="row col-12">
        <div class="col-lg-8 col-sm-12">
            <!-- <table class="table table-hover col-8">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Final Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartList ">
                            <td>{{item.productName}}</td>
                            <td>{{item.unitPrice | number:'1.2-2'}}$</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.total | number:'1.2-2'}}$</td>
                        </tr>
                    </tbody>
                </table> -->
            <div *ngFor="let product of cartList; let i = index">
                <div class="container">
                    <h6>{{ i + 1 }}. {{ product.productName }}</h6>
                    <div style="margin-left: 5%">
                        <h6>- Quantity: {{ product.quantity }}</h6>
                        <h6>- Unit price: {{ product.unitPrice }} $</h6>
                        <h6>- Total: {{ product.unitPrice * product.quantity | number : '1.2-2' }} $</h6>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <input
                                    #quantity
                                    (input)="keyup(quantity.value)"
                                    class="form-control"
                                    id="quantityIn"
                                    min="1"
                                    max="20"
                                    type="number"
                                    placeholder="New quantity"
                                />
                            </div>
                            <div class="row">
                                <div class="row col-lg-3 col-sm-12">
                                    <button class="btn btn-primary btn-lg mt-2" (click)="changeQuantity(product.productId)">Change</button>
                                </div>
                                <div class="row col-lg-1"></div>
                                <div class="row col-lg-3 col-sm-12 ml-2">
                                    <button class="btn btn-danger btn-lg mt-2" (click)="removeItem(product.productId)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <form>
                <h3>Final price: {{ total | number : '1.2-2' }} $</h3>
                <button class="btn btn-success btn-lg col-12 mt-3" *ngIf="cartList.length > 0" type="submit" [routerLink]="'/orders/qr-scanner'">Create order!</button>
            </form>
        </div>
    </div>
</div>
}
@else {
    <div class="container acrylic shadow">
        <h1 class="text-center">We do not take orders for now!</h1>
    </div>
}
