<div class="container">
    @if (orderHistory.length === 0) {
    <div class="acrylic mx-auto shadow col-sm-12 col-lg-8">
        <h3 class="text-center">There are no orders registered for this account!</h3>
    </div>
    } @else {
    <h3 class="mb-5 text-center">Thank you for your {{ orderHistory.length }} orders at our location!</h3>
    }
    <div class="row justify-content-center">
        @for (item of orderHistory; track item.orderId; let i = $index) {

        <div class="col-md-6 col-sm-12 mb-4 acrylic shadow">
            <h6>{{ i + 1 }}. Order number {{ item.orderId }}</h6>
            <div style="margin-left: 2%">
                <h6>- Order date {{ item.orderDate | date : 'dd/MM/yy hh:mm a' }}</h6>
                <h6>- Table number {{ item.tableId }}</h6>
                <h6>- Employee name: "{{ item.employeeName }}"</h6>
                <h6>- Status: {{ item.status }}</h6>
                <hr />
                <h6>Products:</h6>
                <div>
                    @for (product of item.products; track $index) {
                    <h6 style="margin-left: 1%">{{ i + 1 }}.{{ $index + 1 }} {{ product.productName }}</h6>
                    <div style="margin-left: 5%">
                        <h6>- Quantity: {{ product.quantity }}</h6>
                        <h6>- Unit price: {{ product.unitPrice }} $</h6>
                        <h6>- Total: {{ product.unitPrice * product.quantity | number : '1.2-2' }} $</h6>
                    </div>
                    }
                    <button class="col-12 btn btn-dark btn-lg mt-3" (click)="reportService.generateOrderNotePDF(item.orderId)">Get order note</button>
                </div>
            </div>
        </div>
        <hr />
        }
    </div>
</div>
