<!-- <table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Reservation Date</th>
            <th scope="col">Phone number</th>
            <th scope="col">Duration</th>
            <th scope="col">Table number</th>
            <th scope="col">Guest number</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let reservation1 of allReservations">
            <td>{{reservation1.firstName}}</td>
            <td>{{reservation1.lastName}}</td>
            <td>{{reservation1.reservationDate | date:'medium'}}</td>
            <td>{{reservation1.phoneNumber}}</td>
            <td>{{reservation1.duration}} hour</td>
            <td>{{reservation1.tableNumber}}</td>
            <td>{{reservation1.guestNumber}}</td>
            <td *ngIf="reservation1.reservationStatus; else elseBlock">Confirmed</td>
            <ng-template #elseBlock>
                <td>Pending</td>
            </ng-template>
        </tr>
    </tbody>
</table> -->

<div class="container">
    @if (allReservations.length <= 0) {
    <h3 class="text-center">There are no reservations registered on this account!</h3>
    } @else {
    <h3 class="text-center">Here are your reservations dear customer</h3>
    }

    <div class="col-lg-6 col-sm-12 mx-auto">
        @for (reservation of allReservations; track $index) {
        <div class="col-md-8 mb-3 col-sm-12 mx-auto mt-3 acrylic shadow">
            <h6>{{ $index + 1 }}.Reservation id: #{{ reservation.reservationId }}</h6>
            <div style="margin-left: 5%">
                <h6>FirstName: {{ reservation.firstName }}</h6>
                <h6>LastName: {{ reservation.lastName }}</h6>
                <h6>Reservation Date: {{ reservation.reservationDate | date : 'medium' }}</h6>
                <h6>PhoneNumber: {{ reservation.phoneNumber }}</h6>
                <h6>Duration: {{ reservation.duration }} hour</h6>
                <h6>Table number: {{ reservation.tableNumber }}</h6>
                <h6>Guest number: {{ reservation.guestNumber }}</h6>
                @if (reservation.reservationStatus === false) {
                <h6 class="text-warning">Status: Pending</h6>
                }@else {
                <h6 class="text-primary">Status: Confirmed</h6>
                }
                <button (click)="cancelReservation(reservation.reservationId)" class="col-md-12 col-sm-12 mt-2 btn btn-lg btn-danger mb-2">
                    Cancel
                </button>
            </div>
        </div>
        <hr />
        }
    </div>
</div>
