<div class="container acrylic shadow table-responsive">
    <h1 class="text-center">Stock products</h1>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="center table justify-content-center table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>Unit Price</th>
                <th>unitMeasure</th>
                <th>availableForUser</th>
                <th>complexProduct</th>
                <th>categoryId</th>
                <th>quantity</th>
                <th>supplyCheck</th>
                <th>TVA</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            @for (product of stockProducts; track product) {
            <tr>
                <td>{{ product.productId }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.unitPrice | currency }}</td>
                <td>{{ product.unitMeasure }}</td>
                <td>{{ product.availableForUser }}</td>
                <td>{{ product.complexProduct }}</td>
                <td>{{ product.categoryId }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.supplyCheck }}</td>
                <td>{{ product.tva }}%</td>
                <td style="text-align: center">
                    <span style="cursor: pointer"
                        >@if (product.complexProduct == false){
                        <fa-icon
                            (click)="
                                modifyProduct(
                                    product.productId,
                                    product.name,
                                    product.unitPrice,
                                    product.unitMeasure,
                                    product.availableForUser,
                                    product.complexProduct,
                                    product.categoryId,
                                    product.quantity,
                                    product.supplyCheck,
                                    product.tva
                                )
                            "
                            [icon]="faEdit"
                        ></fa-icon>
                        } @else {
                        <fa-icon (click)="modifyComplexProduct(product.productId,
                        product.name,
                        product.unitPrice,
                        product.unitMeasure,
                        product.availableForUser,
                        product.complexProduct,
                        product.categoryId,
                        product.quantity,
                        product.supplyCheck,
                        product.tva,
                        product.componentProducts,
                        true)" [icon]="faEdit"></fa-icon>
                        }
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <button class="col-4 btn btn-dark btn-lg mt-3" (click)="createNonComplexProduct()">Add NON complex product</button>
        <div class="col-4">

        </div>
        <button class="col-4 btn btn-dark btn-lg mt-3" (click)="createComplexProduct()">Add complex product</button>
    </div>
</div>
