<div class="modal-header bg-primary">
    <h5 class="modal-title pull-center" style="color: white">Complete the form please!</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="newProductForm" (ngSubmit)="createNewProduct()">
        <div class="form-floating mb-3">
            <input
                formControlName="name"
                type="text"
                placeholder="Product name"
                id="name"
                autocomplete="false"
                class="form-control"
                [class.is-invalid1]="isSubmitted && newProductForm.get('name')?.errors"
            />
            <label for="name">Product name</label>
            <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('name')?.hasError('required')"> Product name is required </span>
        </div>

        <div class="form-floating mb-3">
            <input
                formControlName="unitPrice"
                type="number"
                placeholder="Unit price"
                id="unitPrice"
                autocomplete="false"
                class="form-control"
                [class.is-invalid1]="isSubmitted && newProductForm.get('unitPrice')?.errors"
            />
            <label for="unitPrice">Unit price</label>
            <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('unitPrice')?.hasError('required')"> Unit price is required </span>
        </div>

        <div class="form-floating mb-3">
            <input
                formControlName="unitMeasure"
                type="text"
                placeholder="Unit measure"
                id="unitMeasure"
                autocomplete="false"
                class="form-control"
                [class.is-invalid1]="isSubmitted && newProductForm.get('unitMeasure')?.errors"
            />
            <label for="unitMeasure">Unit measure</label>
            <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('unitMeasure')?.hasError('required')"> Product name is required </span>
        </div>

        <span>The product is available for clients?</span>
        <div class="col form-check">
            <input checked class="form-check-input" type="radio" [value]="true" formControlName="availableForUser" id="availableForUser1" />
            <label class="form-check-label" for="availableForUser1"> Yes </label>
        </div>
        <div class="col form-check">
            <input class="form-check-input" type="radio" [value]="false" formControlName="availableForUser" id="availableForUser2" />
            <label class="form-check-label" for="availableForUser2"> No </label>
        </div>
        <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('availableForUser')?.hasError('required')"> Check one box please </span>

        <div class="form-floating mb-3 mt-3">
            <select
                formControlName="categoryId"
                id="categoryId"
                class="form-select"
                [class.is-invalid1]="isSubmitted && newProductForm.get('categoryId')?.errors"
            >
                @for (category of categoryList; track category) {
                <option value="{{ category.categoryId }}">{{ category.categoryName }}</option>
                }
            </select>
            <label for="categoryId">Select category</label>
            <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('categoryId')?.hasError('required')"> Select a category please </span>
        </div>
        <div class="form-floating mb-3 mt-3">
            <select formControlName="tva" id="tva" class="form-select" [class.is-invalid1]="isSubmitted && newProductForm.get('tva')?.errors">
                <option [value]="9">9%</option>
                <option [value]="19">19%</option>
            </select>
            <label for="categoryId">Select applied TVA</label>
            <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('categoryId')?.hasError('required')"> Select a tva please </span>
        </div>
        <div formArrayName="productComponenetsId">
            <div *ngFor="let componentProduct of productComponenetsId.controls; let i = index" [formGroupName]="i" class="component-product">
                <span>{{ i + 1 }}.</span>
                <!-- <div class="form-floating mb-3 mt-1">
                    <input formControlName="id" type="number" placeholder="Component Product ID" class="form-control" />
                    <label for="id">Component Product ID</label>
                </div> -->
                <div class="form-floating mb-3 mt-1">
                    <select
                        formControlName="id"
                        id="id{{ i }}"
                        class="form-select"
                        [class.is-invalid1]="isSubmitted && newProductForm.get('id')?.errors"
                    >
                        @for (item of componentProductsList; track item) {
                        <option [value]="item.id">{{ item.name }}</option>
                        }
                    </select>

                    <label for="id{{ i }}">Component Product ID</label>

                    <span class="text-danger" *ngIf="isSubmitted && newProductForm.get('id')?.hasError('required')"> Select a product please </span>
                </div>

                <div class="form-floating mb-3">
                    <input formControlName="quantity" type="number" min="0" placeholder="Used Quantity" id="quantity{{ i }}" class="form-control" />
                    <label for="quantity{{ i }}">Used Quantity</label>
                </div>

                <button type="button" class="btn col-12 btn-danger mb-1" (click)="removeComponentProduct(i)">Remove product</button>
            </div>
        </div>
        <hr />
        <button type="button" class="col-12 btn btn-warning mb-3" (click)="addComponentProduct()">Add new component product</button>
        <div class="modal-footer">
            <button type="submit" class="col-12 btn btn-primary btn-lg mt-2" [disabled]="productComponenetsId.length == 0">
                @if (modifyStatus) { Modify product }@else { Create new complex product }
            </button>
        </div>
    </form>
</div>
